* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: #1b1a1a;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .logo{
    font-size: 40px;
    color: #ebebeb;
    position: relative;
    text-decoration: none;
    font-weight: 600;
 }

 .logo::before{
   content: "";
   position: absolute;
   top: 0;
   left: 0;
  width: 100%;
   height: 100%;
background:#1b1a1a;
animation: showRight 1s ease forwards;
animation-delay: 0.4ms;
z-index: 2;
 }

 .navbar::before{
   content: "";
   position: absolute;
   top: 0;
   left: 0;
  width: 100%;
   height: 100%;
background: #1b1a1a;
animation: showRight 1s ease forwards;
animation-delay: 0.3ms;
z-index: 2;
 }
   
 .navbar a {
    font-size: 25px;
    color: #ebebeb;
    text-decoration: none;
   margin-left: 35px;
    font-weight: 500;
 }
 
 .navbar a:hover,.navbar a.active{
   color: #00abf0;
 }

body {
    height: 100vh;
    background: url("project.avif") no-repeat;
    color: #2f2d2d;
    background-size: cover;
    /*background-position: center;
    display: flex;*/
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5rem;
    color: #eee3e3;
}

.portfolio-section p {
    text-align: center;
    margin-bottom: 40px;
    font-size: 40px;
    color: #1ec4ee;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.portfolio-item {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
}

.portfolio-item:hover {
    transform: translateY(-10px);
}

.portfolio-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.portfolio-info {
    padding: 20px;
}

.portfolio-info h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

.portfolio-info p {
    font-size: 1rem;
    margin-bottom: 15px;
    color: #666;
}

.btn {
    display: inline-block;
    padding: 10px 15px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #555;
}

/* Animation Keyframes*/

@keyframes showRight{
    100%{
       width: 0%;
    }
  }